/* 启动伸缩布局 */
.flex-enable{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


/* 子元素横向排列 */
.flex-row{
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flexbox-direction:row;
    -ms-flex-direction: row;
    flex-direction: row;
}


/* 子元素平均分布在父容器中 */
.flex-justify-space-around{
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack:justify;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
}
